body{
    font-family: Poppins, sans-serif !important;
    overflow-x:hidden;
}
/*@media only screen and (max-width: 1444px) {*/
    .navbar {
        padding-left: 8.6vw;
        padding-right: 8.6vw;
        padding-top: 32px;
        background-color: #1B088C;
    }
/*}*/
/*@media only screen and (min-width: 1445px) {*/
/*    .navbar {*/
/*        width: 1194px;*/
/*        padding-top: 32px;*/
/*       */
/*        background-color: #1B088C;*/
/*        !*padding-left: 125px;*!*/
/*        !*padding-right: 125px;*!*/
/*        !*padding-top: 32px;*!*/
/*        !*background-color: #1B088C;*!*/
/*    }*/
/*}*/
.navbar > a{
    color:white;
}
.nav-link{
    color:white !important;
    font-size:16px!important;
    padding-right: 40px !important;
}

@media only screen and (max-width: 1444px) {
    body {
        background-color: lightblue;
    }
    h1{
        font-size:40px;
    }

}
@media only screen and (max-width: 970px) {
    body {
        background-color: lightblue;
    }
    h1{
        font-size:30px;
    }
}
.col, .col-5{
    color:white!important;
    border: 5px solid red;
}
.row{  color:white!important;

}
.images-hero-background{
    /*position: relative;*/
    margin-top:50px

}
.img-ellipse {
    width: 743px;
    height: 743px;
    object-fit: cover;
    /*margin-left: -330px;*/
    position:absolute;
    left: 50%;
}

.img-hero {
    position: absolute;
    /*bottom: 0;*/

    width: 724px;
    height: 734px;
    left: 44%;
    margin-top: 80px;
}
h5{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
}
h5.text-hero-group, h5.text-hero-group-infrared{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255);
    white-space: pre-line;
    padding-top: 10px;
    line-height: 1.5;
}


h6{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(225, 225, 225, 0.7);
    line-height: 1.5;
}
@media only screen and (max-width: 1444px) {
    h3 {
        font-size: 2.2vw;
        font-weight: 600;
        line-height: 1.5;
    }

    h2 {
        font-size: 3.5vw;
    }
    h1 {
        font-family: Montserrat;
        float: left;
        text-align: left;
        margin-bottom: 11px;
        /*font-size:60px;*/
        font-size: 4.5vw;
    }

}
@media only screen and (min-width: 1445px) {
    h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5;
    }

    h2 {
        font-size: 50px;
        line-height: 1.5;
    }

    h1 {
        font-family: Montserrat;
        float: left;
        text-align: left;
        margin-bottom: 11px;
        /*font-size:60px;*/
        font-size: 70px;

    }

}