body {
    font-family: Poppins, sans-serif !important;
    overflow-x: hidden;
}

/*@media only screen and (max-width: 1444px) {*/
.navbar {
    padding-left: 8.6vw;
    padding-right: 8.6vw;
    padding-top: 32px;
    background-color: #1B088C;
}

/*}*/
@media only screen and (min-width: 1000px) {
    .navbar {
        justify-content: center;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: none;
    border-width: 0;
    border-color: rgba(255, 102, 203, 0);
}

.navbar > a {
    color: white;
}

.nav-link {
    color: white !important;
    font-size: 16px !important;
    padding-right: 40px !important;
}

@media only screen and (max-width: 1444px) {
    body {
        background-color: lightblue;
    }

    h1 {
        font-size: 40px;
    }

}

@media only screen and (max-width: 970px) {
    body {
        background-color: lightblue;
    }

    h1 {
        font-size: 30px;
    }
}

.row {
    color: white !important;

}

.images-hero-background {
    /*position: relative;*/
    margin-top: 50px

}

.img-ellipse {
    width: 743px;
    height: 743px;
    object-fit: cover;
    /*margin-left: -330px;*/
    position: absolute;
    left: 50%;
}

.img-hero {
    position: absolute;
    /*bottom: 0;*/

    width: 724px;
    height: 734px;
    left: 44%;
    margin-top: 80px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
}

h5.text-hero-group, h5.text-hero-group-infrared {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255);
    white-space: pre-line;
    padding-top: 10px;
    line-height: 1.5;
}


h6 {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(225, 225, 225, 0.7);
    line-height: 1.5;
}

@media only screen and (max-width: 1444px) {
    h3 {
        font-size: 2.2vw;
        font-weight: 600;
        line-height: 1.5;
    }

    h2 {
        font-size: 3.5vw;
    }

    h1 {
        font-family: Montserrat;
        float: left;
        text-align: left;
        margin-bottom: 11px;
        /*font-size:60px;*/
        font-size: 4.5vw;
    }

}

@media only screen and (max-width: 760px) {
    h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }
    h3.features {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    h2 {
        font-size: 28px;
    }

    h1 {
        font-family: Montserrat;
        float: left;
        text-align: left;
        margin-bottom: 11px;
        /*font-size:60px;*/
        font-size: 40px;
    }

    .images-hero-background {
        height: 500px;
    }

    .images-hero-background .img-ellipse {
        /*position: static;*/
        left: 0;
    }

    .images-hero-background .img-hero {
        /*margin-top: 20%;*/
        /* margin: auto; */
        left: 0;
    }
    .hero-clients-container{
        padding-top: 200px;
    }
    .navbar-nav{
        justify-content:start!important;
        text-align: left;
        padding-top:20px;
    }
    .navbar .button_navbar{
        width: 100%;
        /*margin-top: 100px;*/
        margin-top: 50px;
    }
    .navbar-collapse.collapse.show{
        height:100%;
    }
    .navbar-nav a{
        padding-top:10px;
    }
}

@media only screen and (min-width: 1445px) {
    h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5;
    }

    h2 {
        font-size: 50px;
        line-height: 1.5;
    }

    h1 {
        font-family: Montserrat;
        float: left;
        text-align: left;
        margin-bottom: 11px;
        /*font-size:60px;*/
        font-size: 70px;

    }

}