h1 {
    font-family: Montserrat;
    float: left;
    text-align: left;
    margin-bottom: 11px;
}

h5{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(225, 225, 225, 0.7);
}
.hero-container{
    background-color:#1B088C;
    padding-left: 125px;
    padding-right:125px;
    max-width: 100%;
    padding-top: 100px;
}
.hero-input{
    margin-top:57px;
    background-color:rgba(146,134,216,0.3);
    padding:16px;
}
.input-group .form-control, .input-group .form-control:focus,
.form-control:focus:active{
    background-color: rgba(146, 134, 216, 0);
    border: 0;
    border-radius:0;
    border: none; /* Remove default border */
    color: white;
    outline: none; /* Remove focus outline */
    box-shadow: none
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-size:16px;
}