.container{
    max-width: 100%;
    padding:0px;
}
.hero-container{
    background-color:#1B088C;
    padding-left: 8.6vw;
    padding-right: 8.6vw;
    padding-top:7.8vw;
    max-width: 100%;
    padding-bottom:97px;
}
.hero-input{
    margin-top:57px;
    background-color:rgba(146,134,216,0.3);
    padding:16px;
}
.input-group .form-control, .input-group .form-control:focus,
.form-control:focus:active{
    background-color: rgba(146, 134, 216, 0);
    border: 0;
    border-radius:0;
    border: none; /* Remove default border */
    color: white;
    outline: none; /* Remove focus outline */
    box-shadow: none
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-size:16px;
}
.img-rtx {
    width: 44px;
    height: 44px;
    /*object-fit: cover;*/
    /*margin-right: -130px;*/
}
.hero-group{
    padding-top:60px;
}

.text-hero-group{
    padding-top:26px;
}
.text-hero-group-infrared{
    padding-top:26px;
    word-spacing: 200px;
}

.hero-clients-container{
    background-color:#0A0048;
    padding-left: 8.6vw;
    padding-right: 8.6vw;
}
h3.clients{
    color: #F57438;
    font-weight: 600;
}
.hero-clients-text{
    padding-top: 44px;
    text-align:left;
    padding-bottom: 44px;
}