.how-robot-works{
 padding:0;
}
.how-robot-works-first{
text-align:left;
    height:auto;
    padding-left: 8.6vw;
    padding-right: 8.6vw;
    /*width:100%;*/
    background-color: white;
    padding-top: 14vw;
}
.how-robot-works-second{
    padding-left: 8.6vw;
    padding-right: 8.6vw;
    padding-top: 9.5vw;
    background-color:#0A0048;
    padding-bottom:9.5vw;
    background-image: url('src/assets/sally_bottom.svg'); /* Paths to your SVG files */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: bottom right; /* Position abstract shape left, robot right */
}
.img-hero-works {
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: 3.5vw;
    margin-top: -60px;
}
.how-robot-works-first h2{
    color:black;
}
.how-robot-works-first h6{
    color:#737373;
}
.container-sally{
    padding-bottom:9.7vw;
}
h6 .read-more-arrow{
    color:#1B088C;
    padding-left: 12px;
}
h6.read-more{
    color:#1B088C;
}
.sally-robot{
    padding-top:32px;
    padding-bottom:32px;
}
.sally-title{
    color: #F57438;
}
.sally-description{
    padding-top:16px;
    color: rgba(255,255,255,0.7);
}
.sally-bottom{
    position:absolute;
    width: 38.7vw;
    /*height: 27.7vw;*/
    right:0;
    padding:0;
}
@media only screen and (max-width: 760px) {
    .how-robot-works-first .row{
        flex-direction: row-reverse !important;
    }
    .img-hero-works {
        position: absolute;
        width: 379px;
        height:483px;
        left: 3.5vw;
        /*margin-top: -60px;*/
        margin-top:10px;
    }
    .how-robot-works-second{
        padding-top:190px;
    }
    .text-end{
        text-align:left!important;
    }
    .how-robot-works-first{
        padding-left:0;
    }
    .second-robot{
        height:340px;
    }
}